
  <form action="/watch" method="POST" id="watch-form">
    <label>Spotify профіль лінк:</label>
    <input type="text" name="link" />
    <button type="submit">Перевірити</button>
  </form>

<div id="loader" style="opacity:0; margin-top:1rem;">
  <p>⏳ Завантаження...</p>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const form = document.getElementById("watch-form");
    const loader = document.getElementById("loader");

    form.addEventListener("submit", () => {
      loader.style.opacity = "1";
    });
  });
</script>