<!-- views/index.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Spotify Watcher</title>
</head>
<body>
  <h1>Spotify Playlist Watcher</h1>
  <form action="/watch" method="POST">
    <label>Spotify профіль лінк:</label>
    <input type="text" name="link" />
    <button type="submit">Перевірити</button>
  </form>
</body>
</html>
