<% if @error %>
  <p class="form-error"><%= @error %></p>
<% end %>

<form action="/watch" method="POST" id="watch-form" class="search-form">
  <label><%= t("index.label_profile_link") %></label>

  <div class="search-form__wrapper">
    <input class="search-form__input"
           type="text"
           name="link"
           placeholder="<%= t('index.placeholder_user_link') %>"/>

    <button class="button button-circle play-button search-form__btn" type="submit">
      <svg class="play-icon" viewBox="0 0 24 24">
        <path fill="currentColor" d="M8 5v14l11-7z"/>
      </svg>
    </button>
  </div>
</form>

<div class="loader center" id="loader">
  <p><span class="spinner">⏳</span> <%= t("index.loading") %></p>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const form = document.getElementById("watch-form");
    const loader = document.getElementById("loader");

    form.addEventListener("submit", () => {
      loader.style.opacity = "1";
    });
  });
</script>