<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>Моніторинг Spotify</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <h1>🎧 Spotify Playlist Watch</h1>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer>
    <p>&copy; 2025 — Відстежуй музику зі стилем</p>
  </footer>
</body>
</html>


