<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Моніторинг Spotify</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body class="body">
    <header class="header">
      <h1 class="header__title">🎧 Spotify Playlist Watch</h1>
      <button class="button button-circle button_theme" id="theme-toggle" aria-label="Перемкнути тему"><span id="theme-icon">🌙</span></button>
    </header>
    <main class="main">
      <%= yield %>
    </main>
    <footer class="footer center">
      <p>&copy; 2025 — Відстежуй музику зі стилем!  <a  class="default-link" href="#" id="open-info-modal">ℹ️ Що це за проєкт?</a></p>
    </footer>

    <div id="info-modal" class="modal" style="display: none;">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h3>🚧 Тестова версія</h3>
        <p>Це попередній запуск. Дані не зберігаються в базі. <br>Не очищуйте кукі — все зникне!</p>
        <p>Made with love by <a href="https://github.com/hickkick" target="blank" class="default-link">Romanoli</a></p>
      </div>
    </div>


    <script src="/js/main.js" defer></script>
  </body>
</html>


